KERNEL=="sd*", \
 ENV{ID_FS_TYPE}=="crypto_LUKS", \
 ENV{ID_BUS}=="usb", \
 ACTION=="add", \
 ENV{SYSTEMD_WANTS}="usb-decrypt@%E{DEVNAME}.service"

# DEVPATH doesn't work, both %i and %I can't be used, one converts / -> -,
# the other - -> /, both wrong, because I have BOTH!

# ID_MODEL_ENC ID_PART_ENTRY_NAME are encoded, however the service will decode
# them, and this could cause arbitrarily execute code, which would be mmmmm bad.
# And since I don't feel like trusting other things like serial, I'm going to
# have to call udevadm info anyways, might as well trust nothing (like serial,
# etc...)
